
.body{
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}
.heroCON{
  position: relative;
  background-image: url(../images/newhero.svg);
  width: 94%;
  height: 500px;
  margin-left: 45px; 
  margin-right: 45px;
  border-radius: 30px;
}
.bgImg{
  position: relative;
  margin-left: 45px;
}
.docImg{
  position: absolute;
  left: 50%;
  width: 350px;
  height: 400px;
  margin-top: 100px;
}

.containerL {
  display: inline-block;
  box-sizing: content-box;
  max-width: 596px;
  padding: 40px 40px 0 40px;
}
.App{
  display: inline-block;
}

h1 {
  margin-bottom: 0;
  font-family: 'Nunito Sans';
  font-size: 50px;
  font-weight: 400;
  line-height: 0.9;
}

h2 {
  font-family: 'Nunito Sans';
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.75;
  margin: 0;
}

.word-wrapper {
  white-space: nowrap;
}
.textThree{
  color: #D28BA4;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  width: 500px;
}
.heroBTNS{
  display: flex;
  padding-left: 40px;
  padding-top: 15px;
}
.heroBTN1{
  display: flex;
  border-radius: 30px;
  background: #BB4F77;
  width: 250px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; 
  border: none;
}
.rightIMG{
  width: 25px;
  height: 25px;
}
.heroBTN1:hover{
  background: #943E5E;
}

.heroBTN2{
  display: inline-block;
  width: 252px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #BB4F77;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; 
  border-radius: 30px;
  border: 2px solid #BB4F77;
  background-color: rgba(247, 222, 228, 1);
  margin-left: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.heroBTN2:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 .heroBTN2:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #BB4F77;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .heroBTN2:hover {
  color:rgba(247, 222, 228, 1);
  ;
  border: 1px solid rgba(247, 222, 228, 1);
 }
 .heroBTN2:hover:before {
  top: -35%;
  background-color: #BB4F77;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .heroBTN2:hover:after {
  top: -45%;
  background-color: #BB4F77;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
.outerLIST{
  display: inline-block;
  width: 120px;
  margin-left: 10px;
}
.setLIST{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}
.listUP{
  padding-left: 20px;
  color: #BB4F77;
  text-align: center;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.9%; 
}
.listDOWN{
  padding-top: 5px;
  color: #D28BA4;
  text-align: center;
  font-family: 'Poppins';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 117%; 
  width: 100px;

}
.heroRightTxt{
  z-index: 1;
  position: absolute;
  right: 150px;
  top: 170px;
  color: #FFF;
  font-family: 'Caveat';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100.9%;
  width: 270px;
}
.heroSpan{
  color: #FFF;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homeAbout{
  padding: 40px;
}
.headAbout{
  color: #BB4F77;
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 115.9%; 
  text-transform: uppercase;
}
.aboutTxt{
  padding-top: 10px;
  color: #C36386;
  font-family: 'Nunito Sans';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.28px;
}
.aboutTxtSpan{
  font-weight: 700;
}

.aboutLinkL{
  text-decoration: none;
  padding-top: 15px;
  display: flex;
  color: #BB4F77;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; 
  /* text-decoration: underline; */
  border-bottom: 1px solid #e7c8d3;
}
.aboutArrow{
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.w3rcontainer{
  border: 1px solid #cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
 display: inline-block;
 position: relative;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: rgba(187, 79, 119, 1);
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}
.aboutBG{
  display: none;
}

@media(max-width: 768px){
  .heroCON{
    background-image: url(../images/phoneBG.svg);
    width: 344px;
    height: 717px;
    margin: 0px auto;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 35px;
  }
  .containerL{
    width: 300px;
    padding: 40px 5px 0px 20px;
  }
  .textThree{
    font-size: 20px;
    width: 296px;
    padding-left: 20px;
  }
  .heroBTNS{
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    padding-left: 20px;
  }
  .rightIMG{
    display: none;
  }
  .heroBTN1{
    width: 296px;
    height: 49px;
  }
  .heroBTN1:active{
    background: #943E5E;
  }
  .heroBTN2{
    margin: 0;
    width: 296px;
    height: 49px;
  }
  .heroBTN2:active{
    background-color: #BB4F77;
    color: rgba(247, 222, 228, 1);
  }
  .outerLIST{
    margin-left: 15px;
    margin-top: 10px;
  }
  .listUP{
    font-size: 23px;
  }
  .listDOWN{
    font-size: 15px;
  }
 
  .docImg{
    margin-top: 738px;
    left: 8%;
    width: 150px;
  }
  .heroRightTxt{
    top: 860px;
    color: #BB4F77;
    font-size: 20px;
    width: 158px;
    right: 45px;
  }
  .heroSpan {
    color: #C36386;
    font-size: 16px;
  }
  .homeAbout{
    padding-left: 30px;
  }
  .aboutTxt{
    margin-top: 30px;
    font-size: 18px;
    width: 329px;
  }
  .aboutLinkL{
    font-size: 18px;
  }
  .aboutArrow{
    width: 22px;
    height: 22px;
  }
  .aboutBG{
    display: block;
    margin-top: 25px;
  }
}

.aANDaCON{
  display: flex;
  justify-content: center;
  background: rgba(237, 189, 207, 0.42);
  padding: 30px 0;
}
.awardsHEADINDCON{
  display: flex;
  margin-top: 50px;
  margin-right: 200px;
}
.AADIV{
  position: absolute;
  padding-top: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.awardsAND{
  position: relative;
  color: #EAADC3;
  font-family: 'Nunito Sans';
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.9%; /* 148.352px */
  text-transform: uppercase;
}
.awardsACH{
  color: #BB4F77;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
}
.awardsCon{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.outerLIST2{
  display: flex;
  border-radius: 13px;
  background: #EDBDCF;
  width: 385px;
  height: 70px;
  padding: 5px 10px 0px 10px;
  margin: 10px;
}
.trophy{
  width: 60px;
  height: 60px;
}
.setLIST2{
  padding-top: 14px;
  padding-left: 10px;
}
.listUP2{
  color: #9C003C;
  font-family: 'Nunito Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.9%; /* 25.18px */
  text-transform: capitalize;
}
.listDOWN2{
  padding-top: 4px;
  color: #9C003C;
  font-family: 'Nunito Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.9%; /* 18.544px */
  text-transform: uppercase;
}
@media(max-width: 768px){
  .awardsCon{
    display: grid;
    grid-template-columns: 1fr;
  }
  .aANDaCON{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF5F4;
    padding: 0px 0px;
  }
  .headAwardsDESK{
    display: none;
  }
  .headAwardsPHONE{
    display: block;
    margin: 25px auto;
    /* width: 280px;
    height: 106px; */
  }
  .outerLIST2{
    border-radius: 13px;
    width: 290px;
    height: 77px;
    padding: 0px 10px 0px 10px;
    margin:  10px auto;
  }
  .listUP2{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
  }
  .listDOWN2{
    padding-top: 2px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }
  .setLIST2{
    padding-top: 10px;
    padding-left: 15px;
  }
  .trophy{
    margin-top: 13px;
  }
}

.bookA{
  border-radius: 30px;
  background: #F7DEE4;
  display: flex;
  gap: 0px;
  justify-content: space-around;
  margin: 150px 150px 250px 150px;
  height: 300px;
}
.bookForm{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  border-radius: 16px;
  background: #FFF;
  top: 30px;
  height: 395px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.bookInput{
  color: #BB4F77;
  font-family: 'Poppins';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.9%; /* 23.18px */
  border-radius: 6px;
  border: none;
  background: #F7DEE4;
  padding: 15px 150px 15px 20px;
}
::placeholder{
  color: #BB4F77;
}
.bookBtn2{
  color: #FFF;
  font-family: 'Nunito Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; /* 26.376px */
  border-radius: 5px;
  background: #BB4F77;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
}
.bookAdiv2{
  position: relative;
  top: 30px;
}
.bookATxt{
  color: #BB4F77;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: 'Nunito Sans';
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: 115.9%; /* 46.36px */
  text-transform: uppercase;
  padding-left: 40px;
  
}
.bookASpan{
  color: #BB4F77;
  text-shadow: none;
  text-align: center;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.9%; /* 28.056px */
  width: 530px;
  padding-top: 10px;
}
.bookAclinic{
  width: 500px;
  height: 330px;
  margin-left: 15px;
  margin-top: 15px;
}
@media(max-width: 1286px) and (min-width: 767px){
  .heroRightTxt {
    /* right: 100px; */
    right: 5%;
  }
}