@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,800;&display=swap');

.contactContainer{
    margin: 0px 50px;
}

.headingContact{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: #BB4F77;
}
.leftcard{
    width: 50%;
    height: 100%;
    background-color: #BB4F77;
}