.responsiveMENUCON {
  display: none;
}

.body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 1001;
}

.containerLogo {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  display: flex;
}

.logoName {
  display: flex;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  text-align: center;
  text-decoration: none;
}
.logoName:hover {
  color: #bb4f77;
}
.logoImg {
  margin-right: 10px;
  object-fit: contain;
  width: 45px;
  height: 45px;
}
.logoNAME {
  text-align: center;
  margin-top: 8px;
  margin-left: 8px;
}
.navbarPhone {
  display: none;
}
.ResponNav1 {
  display: none;
}
.servicnavbar {
  display: none;
}

.menubar__button {
  display: none;
}

.menu {
  display: flex;
}

.submenu {
  display: none;
}

.menu.active {
  display: block;
}

.submenu.active {
  display: block;
}
.menu {
  position: relative;
}
.subMenuParent {
  position: relative;
}

.middleNav {
  display: flex;
  gap: 0px;
  margin: 5px 0 0 0;
  padding: 0;
}
.liNav {
  list-style-type: none;
  text-decoration: none;
}
.navBTN {
  color: #c36386;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 9px;
  padding: 10px;
}
.hover-effect .navBTN {
  background-color: rgba(252, 230, 238, 1);
}
.navBTNS:hover {
  background-color: rgba(252, 230, 238, 1);
}

.navMenuHead {
  color: #bb4f77;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 117.5%;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
}
.navMenuItems {
  padding: 5px 0px;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  text-decoration: none;
  display: flex;
  width: 250px;
}
.navABTN {
  display: flex;
  border-radius: 30px;
  background: #bb4f77;
  width: 250px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; /* 26.376px */
  border: none;
  margin-top: 5px;
}
.rightIMG {
  width: 25px;
  height: 25px;
}
.navABTN:hover {
  background: #943e5e;
}
.responsiveMENUCON {
  display: none;
}

.responsiveMENUCON.active {
  display: block;
}
.navBTNPhone {
  display: none;
}

.mega-box {
  border-radius: 25px;
  background: #f7dee4;
  position: absolute;
  top: 85px;
  width: 88%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  padding: 30px 50px;
  display: none;
}
.mega-box.active {
  display: block;
}
.navarrow {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.submenuhead {
  display: flex;
  color: #bb4f77;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 117.5%;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
  margin: 15px 0;
}
.submenuitem {
  padding: 5px 0px;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 117.5%;
  text-decoration: none;
  display: flex;
  width: 225px;
}
.navBTNSS{
  display: flex;
  position: relative;
  /* padding-top: 0;
  padding-bottom: 0; */
  top: -10px;
}
.navdownarrow{
  /* position: relative; */
  padding-left: 5px;
  /* top: -2px; */
}

@media (max-width: 1286px) and (min-width: 767px) {
  .mega-box.active {
    display: block;
  }
  .row {
    gap: 10px;
  }
  .submenuitem {
    width: 190px;
  }
}
.navbarPhone {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbarPhone {
    position: fixed;
    top: 0;
    left: 0;
    width: 88%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: rgba(187, 79, 119, 1);
  }
  .logodivnewnav {
    padding-top: 5px;
  }
  .logoNAMEP {
    color: #fff5f4;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .ResponNav1 {
    width: 100%;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10000000000;
    padding: 30px 0px 0px 0px;
    background: linear-gradient(
      180deg,
      #fff5f4 69.88%,
      #fff5f7 74.7%,
      #c36386 100%
    );
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .ResponNav1.slide-in {
    transform: translateX(0);
    animation: slideInFromRight 0.3s forwards;
  }
  .ResponNav1.slide-out {
    animation: slideOutToRight 0.3s forwards;
  }
  .navmenucross {
    position: relative;
    left: 85%;
  }
  .mainlinks {
    color: #bb4f77;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 40px;
  }
  .maillinksatag {
    color: #bb4f77;
  }
  .navnewlinksS {
    padding: 13px 0px 13px 35px;
  }
  .navnewlinksS:hover {
    background-color: rgba(247, 222, 228, 1);
  }
  .navresponbtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 25px 120px 25px;
  }
  .bookbtnnavrespon {
    display: flex;
    width: 344px;
    height: 49px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: #bb4f77;
    border: none;
    color: #fff;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.9%; /* 21.98px */
  }
  .conbtnnavrespon {
    display: flex;
    width: 343px;
    height: 49px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: 2px solid #bb4f77;
    background-color: #fff5f4;
    color: #bb4f77;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.9%;
  }
  .respondiv3 {
    padding: 0 25px;
  }
  .navnamebelow {
    color: #bb4f77;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 20px;
  }
  .navphonum {
    color: #9c003c;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  .naviconslinks {
    display: flex;
  }
  .servicnavbar {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000000;
    padding: 30px 0px 0px 0px;
    background: linear-gradient(
      180deg,
      #fff5f4 69.88%,
      #fff5f7 74.7%,
      #c36386 100%
    );
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .respondiv3S {
    margin: 56.3px 0 0 25px;
  }
  .responsiveMEnuNEW {
    color: #bb4f77;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    /* padding: 5px 10px 5px 0px; */
    padding: 0 0 0 25px;
    text-transform: capitalize;
    /* width: 100%; */
    height: 46px;
  }
  .mainlinksS {
    padding-top: 0px;
  }
  .mainlinksS {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .newnavli {
    height: 35px;
    padding-left: 20px;
    padding-top: 5px;
  }
  .responsiveMEnuNEW:hover {
    background-color: rgba(247, 222, 228, 1);
  }
  .servicemenuservice {
    color: #9c003c;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    padding-left: 25px;
    padding-top: 60px;
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .servicnavbar.slide-in {
    transform: translateX(0);
    animation: slideInFromRight 0.3s forwards;
  }
  .servicnavbar.slide-out {
    animation: slideOutToRight 0.3s forwards;
  }
}
