

.outerS{
    border-radius: 16px;
    background: #BB4F77;
    padding: 30px;
    margin: 20px 50px;
}
.topHead{
    color: #FBE8EF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.9%; /* 22.536px */
    text-transform: capitalize;
    padding-bottom: 20px;
}
.topTxt{
    color: #FBE8EF;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.4%; /* 22.48px */
}
@media (max-width: 768px) {
    .navbar{
        background-color: rgba(187, 79, 119, 1);
    }
    .logoName {
        color: #FBE8EF;
    }
}