.cardHead{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .cardsCON{
     display: flex;
     flex-wrap: wrap;
     gap: 60px;
     row-gap: 60px;
     justify-content: center;
     margin: 0px 7%;
    }

  .cardsheadphone{
    display: none;
  }
  .awardsHEADINDCONT{
    display: flex;
    margin-top: 50px;
    margin-right: 200px;
  }
  .AADIVT{
    position: absolute;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .awardsANDT{
    position: relative;
    color: #EAADC3;
    font-family: 'Nunito Sans';
    font-size: 130px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.9%; /* 148.352px */
    text-transform: uppercase;
  }
  .awardsACHT{
    color: #BB4F77;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    text-transform: uppercase;
  }
  @media(max-width: 768px){
    .cardsheadphone{
      display: block;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 30px;
      
    }
    .awardsANDT{
      font-size: 100px;
    }
    .awardsACHT{
      font-size: 30px;
      line-height: 25px;
    }
    .AADIVT{
      padding-top: 30px;
      padding-left: 30px;
    }
    .awardsHEADINDCONT{
      display: flex;
      margin-top: 50px;
      margin-right: 155px;
    }
    .cardsCON{
      display: flex;
      flex-wrap: wrap;
      gap: 70px;
      row-gap: 40px;
      justify-content: center;
      margin: 0px auto;
   }
  }
