.contactNow{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 415px;
    background-color: #C36386;
    padding-bottom: 30px;
}
.contactNowInner{
    margin: auto 20px;
}
.serviceFormInner{
    display: flex;
    flex-direction: column;
}
.contactHeading{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 27.82px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.serviceFormInner{
    gap: 20px;
}
/* .SFinput{
    border: none;
    border-bottom: 1px solid #F7DEE4;
    background-color: #C36386;
    padding-bottom: 15px;
} */
.SFinput::placeholder{
    color: #F7DEE4;
}
.SFbutton{
   
    border-radius: 7px;
    border: none;
    font-weight: 700;
    padding: 2%;
    height: 40px;
    background-color: #F7DEE4;
    color: #C36386;
    font-family: 'Nunito Sans', sans-serif;
}
.SFconsultation{
    margin-top: -13px;
    text-decoration: none;
    color: #F7DEE4;
    font-family: 'Numito Sans', sans-serif;
    font-weight: 100;
    font-size: 13px;
}
.contactLoc{
    margin-top: 20px;
}
.maps{
    margin-top: -10px;
}
@media(max-width:768px){
    .contactNow{
        width:100vw;
    }
    .maps{
        width: 350px;
    }
}