

.responsiveMENUCON{
  display: none;
}

.body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.navbar {
  position: relative;
  /* padding: 0px 20px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: rgba(255, 245, 244, 1);
  /* color: white; */
  padding: 20px 40px;
  z-index: 1001;
}

.containerLogo {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  display: flex;
}

.logoName {
  /* padding: 0px 20px; */
  display: flex;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  text-align: center;
  text-decoration: none;
}
.logoName:hover {
  color: #bb4f77;
}
.logoImg {
  margin-right: 10px;
  object-fit: contain;
  width: 45px;
  height: 45px;
}
.logoNAME {
  text-align: center;
  margin-top: 8px;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .navbar{     
    padding: 20px 25px;   
  }
  .containerLogo {
    width: 24px;
    height: 24px;
    margin-top: 0;
  }
  .logoImg {
    width: 26px;
    height: 26px;
    margin-top: 2px;
  }

  .logoName {
    padding-top: 4px;
    font-size: 18px;
  }
  .logoNAME {
    margin-top: 0px;
  }
}

.menubar__button {
  display: none;
}

.menu {
  display: flex;
}

.submenu {
  display: none;
}

.menu.active {
  display: block;
}

.submenu.active {
  display: block;
}
.menu {
  position: relative; 
}
.subMenuParent {
  position: relative;
}

.middleNav {
  display: flex;
  gap: 0px;
  margin: 5px 0 0 0;
  padding: 0;
  /* position: relative; */
}
.liNav {
  list-style-type: none;
  text-decoration: none;
}
.navBTN {
  color: #c36386;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 9px;
  padding: 10px;
}
.hover-effect .navBTN {
  background-color: rgba(252, 230, 238, 1);
}
.navBTNS:hover {
  background-color: rgba(252, 230, 238, 1);
}

.navMenuHead {
  color: #bb4f77;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 117.5%;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
}
.navMenuItems {
  padding: 5px 0px;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  text-decoration: none;
  display: flex;
  width: 250px;
}
.navABTN {
  display: flex;
  border-radius: 30px;
  background: #bb4f77;
  width: 250px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; /* 26.376px */
  border: none;
  margin-top: 5px;
}
.rightIMG {
  width: 25px;
  height: 25px;
}
.navABTN:hover {
  background: #943e5e;
}
.responsiveMENUCON {
  display: none;
  /* other styles */
}

.responsiveMENUCON.active {
  display: block;
}
.navBTNPhone{
  display: none;
}

@media (max-width: 768px) {
  .navBTNSS{
    display: none;
  }
  .navBTNPhone{
    display: block;
    color: #c36386;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 9px;
    padding: 10px;
  }
  .hover-effect .navBTNPhone {
    background-color: rgba(252, 230, 238, 1);
  }
  .navBTNPhone:hover{
    background-color: rgba(252, 230, 238, 1);
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .menubar__button {
    display: block;
  }
  .liNav{
    /* text-align: left; */
    margin: 10px 0;
  }
  .middleNav {
    flex-direction: column;
    padding: 20px 0;
    margin: 0;
}
  .navABTN {
    display: none;
  }
  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 245, 244, 1);
    /* border-top: 1px solid #ddd;  */
    z-index: 1000;
    transition: 0.5s;
  }
  .responsiveMENUCON{
    padding: 0;
    list-style-type: none;
    background-color: #c36386;
    padding: 10px 0;
    margin: 10px 0;
  }
  .responsiveMEnu{
    text-decoration: none;
      color: rgba(255, 245, 244, 1);
      font-family: "Poppins";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      border-radius: 9px;
      padding: 10px;
  }
}
.mega-box {
  border-radius: 25px;
  background: #f7dee4;
  position: absolute;
  top: 85px;
  /* width: 1210px; */
  width: 88%;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* left: 130px; */
  z-index: 100;
  padding: 30px 50px;
  display: none;
}
.mega-box.active {
  display: block;
}
.navarrow {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.submenuhead {
  display: flex;
  color: #bb4f77;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 117.5%;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
  margin: 15px 0;
}
.submenuitem {
  padding: 5px 0px;
  color: #bb4f77;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 117.5%;
  text-decoration: none;
  display: flex;
  width: 225px;
}

@media(max-width: 1286px){
  /* .mega-box {
    width: 1050px;
  } */
  .mega-box.active {
    display: block;
  }
  .row {
    gap: 10px;
  }
  .submenuitem {
    width: 190px;
  }
}
@media(max-width: 768px){
  .liNav{
    text-align: center;
    margin: 5px 0;
  }
  .mega-box {
    top: 160px;
    width: 92.2%;
    z-index: 100;
    padding: 16px;
    /* display: block; */
    z-index: 10000;
  }
  .mega-box.active {
    display: block;
  }
  .navarrow {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .submenuhead {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: auto;
    margin: 10px 0;
  }
  .submenuitem {
    display: none;
  }
}
