
.body{
  margin: 0;
  padding: 0;
}
.heroCON{
  background-image: url(../images/newhero.svg);
  width: 1445px;
  height: 500px;
  margin-left: 45px; 
  /* display: flex;
  justify-content: center; */
  /* margin-right: 45px;
  /* margin-left: 45px; */
}
.bgImg{
  position: relative;
  margin-left: 45px;
}
.docImg{
  position: absolute;
  left: 50%;
  width: 350px;
  height: 400px;
  margin-top: 100px;
}

.containerL {
  display: inline-block;
  box-sizing: content-box;
  max-width: 596px;
  padding: 40px 40px 0 40px;
  /* margin: 0 auto; */
}
.App{
  display: inline-block;
}

h1 {
  margin-bottom: 0;
  font-family: 'Nunito Sans';
  font-size: 50px;
  font-weight: 400;
  line-height: 0.9;
  /* margin: 0 0 20px; */
}

h2 {
  /* font-family: 'Caveat'; */
  font-family: 'Nunito Sans';
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.75;
  margin: 0;
}

.word-wrapper {
  white-space: nowrap;
}
.textThree{
  color: #D28BA4;
font-family: 'Nunito Sans';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 40px;
width: 500px;
}
.heroBTNS{
  display: flex;
  padding-left: 40px;
  padding-top: 15px;
}
.heroBTN1{
  display: flex;
  border-radius: 30px;
  background: #BB4F77;
  width: 250px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; /* 26.376px */
  border: none;
}
.rightIMG{
  width: 25px;
  height: 25px;
}
.heroBTN1:hover{
  background: #943E5E;
}

.heroBTN2{
  display: flex;
  width: 252px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #BB4F77;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%; /* 26.376px */
  border-radius: 30px;
  border: 2px solid #BB4F77;
  background-color: rgba(247, 222, 228, 1);
  margin-left: 10px;
}
.heroBTN2:hover{
  background-color: #BB4F77;
  color: rgba(247, 222, 228, 1);
}
.outerLIST{
  display: inline-block;
  width: 120px;
  /* flex-direction: row; */
}
.setLIST{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}
.listUP{
  padding-left: 20px;
  color: #BB4F77;
  text-align: center;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.9%; /* 24.216px */
}
.listDOWN{
  padding-top: 5px;
  color: #D28BA4;
  text-align: center;
  font-family: 'Poppins';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 117%; /* 18.72px */
  width: 100px;

}
.heroRightTxt{
  position: absolute;
  right: 150px;
  top: 170px;
  color: #FFF;
  font-family: 'Caveat';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100.9%; /* 48.432px */
  width: 270px;
}
.heroSpan{
  color: #FFF;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


