.AboutB{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.A-box{
    border: 1px solid #E3AFC0;
background: #BB4F77;
display: inline-flex;
height: 105px;
padding: 34px 0.149px 33.966px 41px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
color: #FFF5F4;
font-family: "Nunito Sans";
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: 115.9%; /* 74.176px */
text-transform: uppercase;
}
p{
    margin: 0;
}
.A-Box2{
    display: flex;
    width: 480px;
    height: 105px;
    padding: 0px 29px 0px 59px;
    justify-content: flex-end;
    align-items: center;
    gap: 29px;
    flex-shrink: 0;
}
.Ab-text{
    display: flex;

}
.Ab-text p{
    color: #9C003C;
font-family: "Nunito Sans";
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 115.9%; /* 81.13px */
}
.Ab-text2 p{
    color: #BB4F77;
font-family:" Nunito Sans";
font-style: normal;
font-weight: 700;
line-height: 115.9%; /* 27.816px */
text-transform: uppercase;
}