
.servicepage2section2{
    display: flex;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 0px 30px 30px;
    margin: 40px;
}
.service2sec2right{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}
.service2headrightsec{
    text-align: center;
    color: #9C003C;
    font-family: 'Nunito Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.9%;
    text-transform: uppercase;
}
.service2secrighttxt{
    color: #9C003C;
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    padding-top: 40px;
}
.servicepage2sec2span{
    font-weight: 700;
}
.serviceCover{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.service2Section1{
    width: 100%;
}
.servicepage2imagediv{
    width: 100%;
}
.service2CoverImage{
    margin: 0px 0px 0px 40px;
    width: 95%;
    height: 30%;
}
.servicePagesCard{
    /* margin-top: 20px; */
    height: fit-content;
    width: fit-content;
    position: sticky;
    top: 0px;
    right: 0;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
}
.service2sec2textdiv{
    margin: 30px 40px;
}
.headservice2mytxt{
    color: #9C003C;
    font-family: 'Nunito Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.9%;
    text-transform: uppercase;
}
.textservice2mytext{
    margin-top: 20px;
    color: #9C003C;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.4%; 
}
.service2belowImage{
    margin: 20px 0px 20px 40px;
    width: 95%;
    height: auto;
}
.legsimg{
    display: none;
}
@media (max-width: 768px) {
    .navbar{
        background-color: rgba(187, 79, 119, 1);
    }
    .logoName {
        color: #FBE8EF;
    }
    .legsdesktop{
        display: none;
    }
    .legsimg{
        width: 100%;
        height: auto;
        display: block;
        border-radius: 14px;
    }
    .servicepage2section2{
        display: block;
        background: none;
        box-shadow: none;
        padding: 0px 0;
        margin: 0 25px;
    }
    
    .service2sec2right{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .service2headrightsec{
        text-align: left;
        font-size: 20px;
        line-height: 24px;
    }
    .service2secrighttxt{
        font-size: 16px;
        padding: 20px 0;
        line-height: 20px;
    }
    .service2CoverImage{
        margin: 0px 25px 0px 25px;
        width: 90%;
        height: 30%;
    }
    .service2sec2textdiv{
        margin: 30px 25px;
    }
    .service2belowImage{
        margin: 10px 25px 10px 25px;
        width: 88%;
        height: auto;
    }
    .imageService2{
        /* margin: auto 10px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceCover{
        flex-direction: column;
    }
    .servicePagesCard{
        margin-right: auto;
        margin-left: 0;
    }
}
