
.body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.navbar {
    /* padding: 0px 20px; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: rgba(255, 245, 244, 1);
    /* color: white; */
    padding: 1rem;
}

.containerLogo {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    display: flex;
}

.logoName{
    padding: 0px 20px;
    display: flex;
    color: #BB4F77;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    text-align: center;
    text-decoration: none;
}
.logoName:hover{
    color: #BB4F77;
}
.logoImg{
    margin-right: 10px;
    object-fit: contain;
    width: 45px;
    height: 45px;
}
.logoNAME{
    text-align: center;
    margin-top: 8px;
    margin-left: 8px;
}

@media(max-width: 768px) {
    .containerLogo {
        width: 24px;
        height: 24px;
        margin-top: 0;
    }
    .logoImg{
        width: 24px;
        height: 24px;
    }
    
    .logoName{
        font-size: 16px;
    }
    .logoNAME{
        margin-top: 0px;
    }

    .navbar-links {
        flex-direction: column;
    }

    .burger {
        display: flex;
    }

    .navbar-button, .navbar-logo, .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }
}
